@import url(/public/css/root.css);

.ctn-icono-mensaje{
    background-color: var(--color-blanco);
    width: 100%;
    height:15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:4px 4px 0px 0px;
    margin-bottom: 0%;
}
.ctn-icono-mensaje .btn-detalles-atras{
    background-color:var(--color-negro);
    width: 3%;
    height: 5vh;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
}
.ctn-icono-mensaje .ctn-img-mensaje{
    width: 25%;
    height:inherit;
    display: flex;
    margin-right: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ctn-icono-mensaje .ctn-img-mensaje img{
    border-radius:50%;
    height:8vh;
    width:20%;
}
.ctn-icono-mensaje .ctn-img-mensaje h3{
    font-size: var(--fuente-mediana);
}

.ctn-conversacion{
    width: 100%;
    height: auto;
    margin:auto;
    margin-bottom: 10%;
}
.ctn-conversacion .ctn-conversacion-yo{
    width: 30%;
    height:auto;
    margin: 2% 60%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4%;
    word-wrap: break-word;
    
}
.ctn-conversacion-yo h2,
.ctn-conversacion-otro h2{
    background-color:var(--color-blanco);
    width: 100%;
    height: auto;
    text-align:start;
    font-size: var(--fuente-mediana);
    padding:1rem;
    border-radius: 8px;
}
.ctn-conversacion .ctn-conversacion-otro{
    width: 30%;
    height:auto;
    margin: 2% 3%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4%;
    word-wrap: break-word;
    color: var(--color-blanco);
}
.ctn-conversacion-otro h2{
    background-color:var(--color-grey);
    width: 100%;
    height: auto;
    text-align:start;
    font-size: var(--fuente-mediana);
    padding:1rem;
    border-radius: 8px;
}
.ctn-form-mensaje form input{
    position: fixed;
    width:100%;
    height:6vh;
    font-size: var(--fuente-mediana);
    font-family: var(--fuente-headline);
    text-align: start;
    bottom: 0;
    left: 0;
    border-radius:4px;
    border:none;
    padding:1rem;
}
/*Medida para table*/
@media screen and (min-width:768px) and (max-width:1023px){
    .ctn-icono-mensaje .btn-detalles-atras{
        width:5%;
        height:5vh;
    }
    .ctn-icono-mensaje .ctn-img-mensaje{
        width: 35%;
    }
    .ctn-icono-mensaje .ctn-img-mensaje img{
        border-radius:50%;
        height:8vh;
        width:20%;
    }
    .ctn-conversacion{
        margin-bottom: 12%;
    }

}

/*Medida para movil*/
@media screen and (min-width:300px) and (max-width:767px){
    .ctn-icono-mensaje{
        justify-content: space-evenly;

    }
    .ctn-icono-mensaje .btn-detalles-atras{
        width:10%;
        height:5vh;
        margin-top: 3%;
        align-self:flex-start;
    }
    .ctn-icono-mensaje .ctn-img-mensaje{
        width:70%;
        height:inherit;
        margin-right: 0%;
    }
    .ctn-icono-mensaje .ctn-img-mensaje img{
        border-radius:50%;
        height:8vh;
        width:30%;
    }
    .ctn-conversacion{
        margin-bottom: 12%;
    }
    .ctn-conversacion .ctn-conversacion-yo{
        width: 70%;
        margin: 2% 25%; 
    }
    .ctn-conversacion .ctn-conversacion-otro{
        width: 70%;
        margin: 2% 5%;

    }
}
